.container{
    background: linear-gradient(#053257, #7e7e7e);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    margin: auto;
    color: white;
    height: fit-content;
    /* margin-top: 150px; */
    border: none;
    line-height: 2;
}

.heading h1{
    margin-left: 560px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.3em;
}

.city{
    font-weight: bold;
}